#footerstyle {
  height: 30px;
  color: rgb(173, 177, 175);
  margin-top: 6px;
  background-color: rgb(17, 85, 74);
  display: flex;
  justify-content: left;
  font-size: 18px;
}

#Ma {
  height: 30px;
  color: rgb(173, 177, 175);
  margin-top: 1px;
  display: flex;
  justify-content: right;
  font-size: 18px;
  background-color: rgb(17, 85, 74);
}
